@font-face {
  font-family: "iranYekan";
  src: url(./fonts/iranYekan/regular/IRANYekanRegular.eot) format("eot"),
    url(./fonts/iranYekan/regular/IRANYekanRegular.woff) format("woff"),
    url(./fonts/iranYekan/regular/IRANYekanRegular.ttf) format("ttf");
}
@font-face {
  font-family: "dana";
  src: url(./fonts/dana/regular/dana-regular.eot) format("eot"),
    url(./fonts/dana/regular/dana-regular.woff) format("woff"),
    url(./fonts/dana/regular/dana-regular.ttf) format("ttf");
}
html,
body {
  direction: rtl;
  padding: 0;
  margin: 0;
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p {
  text-align: right;
}
